@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --header-height: 4.5rem;
    @media (min-width: 1024px) {
      --header-height: 80px;
    }
    --body-height: calc(100dvh - var(--header-height));

    --background: 0 0% 96%;
    --background-dark: 0 0% 90%;
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 220.91 39.29% 10.98%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;

    --radius: 0.5rem;

    --ai: #0d0c27;
    --bg-emphasis: #e5e7eb;
    --bg: #fff;
    --bg-subtle: #f3f4f6;
    --bg-muted: #f9fafb;
    --bg-inverted: #111827;
    --bg-info: #dee9fc;
    --bg-success: #e2fbe8;
    --bg-attention: #fceed8;
    --bg-error: #f9e3e2;
    --border-emphasis: #9ca3af;
    --border-color: #d1d5db;
    --border-subtle: #e5e7eb;
    --border-muted: #f3f4f6;
    --text-emphasis: #111827;
    --text: #374151;
    --text-subtle: #6b7280;
    --text-muted: #9ca3af;
    --text-inverted: #fff;
    --text-info: #253985;
    --text-success: #285231;
    --text-attention: #73321b;
    --text-error: #752522;
    --brand: #111827;
    --brand-emphasis: #101010;
    --brand-text: #fff;
  }

  .dark {
    --background: 0 0% 7.84%;
    --foreground: 60 9.1% 97.8%;

    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;

    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background min-h-dvh overflow-x-hidden;
  }
  body:has(.mobile-menu-open) {
    overflow-y: hidden;
    pointer-events: none;
  }
}
@layer utilities {
  .pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  }
}

@layer components {
  .blog-card-container {
    @apply overflow-hidden grid grid-rows-[auto_1fr] gap-4 w-full h-full md:border-[--brand] md:rounded-4xl md:border-2 md:bg-white;
  }

  .blog-card-cover {
    @apply w-full block min-w-full aspect-video border-[--brand] relative overflow-hidden rounded-3xl border-2 md:rounded-none md:border-0 md:border-b-2 md:border-dashed;
  }

  .blog-card-date {
    @apply text-sm sm:text-md capitalize text-gray-500;
  }

  .blog-card-title {
    @apply md:text-3xl font-normal text-xl text-balance line-clamp-2;
    line-height: normal !important;
  }

  .blog-card-description {
    line-height: 1.5;
    @apply text-gray-500 text-base lg:text-xl text-pretty line-clamp-4;
  }

  .blog-card-author {
    @apply mt-auto min-h-[48px] flex items-center gap-x-4 leading-none grid-rows-2;
  }

  .blog-card-author-figure {
    @apply border-[--brand] relative row-span-full size-12 rounded-full border-2;
  }

  .blog-card-categories {
    @apply flex flex-wrap gap-x-4 text-base uppercase leading-none text-gray-500 hover:text-black;

    @media (min-width: 768px) {
      align-self: end;
      justify-self: end;
    }
  }

  .blog-card-tag-link {
    @apply self-center text-sm sm:text-base;
    @apply hover:border-background border-b-2 border-transparent transition-colors;
  }
}

.hamburger-menu-button {
  cursor: pointer;
  transition: transform 400ms;
  user-select: none;

  &.active {
    transform: rotate(45deg);
  }

  & .line {
    transition:
      stroke-dasharray 400ms,
      stroke-dashoffset 400ms;
  }

  & .middle {
    transform-origin: 50%;
    transition: transform 400ms;
  }

  & .bottom {
    transform-origin: 50%;
    transition:
      transform 400ms,
      stroke-dashoffset 400ms;
  }

  &.active .top {
    stroke-dashoffset: -64px;
  }

  &.active .middle {
    transform: rotate(90deg);
  }

  &.active .bottom {
    stroke-dashoffset: -64px;
  }
}
